.problema-contaminacion {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  background-color: rgba(119, 224, 244, 0.4);  ;
  
}

.problema-contaminacion__header {
  grid-area: 1 / 1 / 2 / 4;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.problema-contaminacion__title {
  position: relative;
  margin-top: 10%;
  width: 50%;
  z-index: 1;
  color: black;
  text-align: center;
  font-size: 80px;
  font-weight: bold;
}

.problema-contaminacion__section {
  grid-area: 2 / 1 / 3 / 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}