.header {
  width: 100%;
  height: 80px;
  background-color: #ffffff;
}

.header__nav {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}

.header__nav__ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  list-style-type: none;
}

.header__nav__ul__li {
  margin: 0 24px;
  cursor: pointer;
  position: relative;
}

.separator {
  padding: 5px ;
}

.header__nav__ul__dropdown {
  position: absolute;
  background-color: #ffffff;
  font-size: 16px;
  padding: 8px;
  width: 220px;
  top: 100%;
  left: 0;
  display: none;
  opacity: 0;
  transform: translateY(-10px);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.header__nav__ul__dropdown__li {
  margin: 8px 0;
  cursor: pointer;
  color: gray;
}

.header__nav__ul__dropdown__li:hover {
  color: black;
}

.header__nav__ul__dropdown__li .active {
  color: black;
}


.header__nav__ul__li:hover .header__nav__ul__dropdown,
.header__nav__ul__li:focus-within .header__nav__ul__dropdown {
  display: block;
  opacity: 1;
  transform: translateY(0);
}

.header__nav__ul__li > a:hover {
  color: black;
} 

.header__nav__ul__li .active {
  color: black;
}

.header__nav__ul__li > a {
  text-decoration: none;
  color: gray;
  font-weight: 700;
}

.header__nav__logo {
  height: 100%;
  margin-left: 50px;
}

.header__nav__buttons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 30%;
  margin-right: 50px;
}